<hr style="width:100%;border:none;border-top:1px solid #eaeaea;border-color:#e6ebf1;margin:20px 0" />
                    <p style="font-size:12px;line-height:16px;margin:16px 0;color:#8898aa">P-VaNum, Dakar, SN</p>